{% extends "project_list_base.html" %}
{% load pagination_tags %}
{% load sorting_tags %}

{% block content %}
	<div id="control_bar">
		<a href= "{% url pack_new %}">NEW PACK</a>
		<a href= "{% url battery_new %}">NEW BATTERY</a>
		<form method = "POST" action="">
			<label for = "search">Search: (search bar will go here)</label>
			<input type = "submit" value = "search"/>
		</form>
		<div id="horizontal_navbar">
			<ul> 
				<li class="top-parent"><a href="{% url battery_list value='type' selection='Li_Ion' %}">
						Rechargeable Li</a>
					<ul>
						<li class="parent"><a href="{% url battery_list value='chemistry' selection='LIC' %}">
							cylindrical</a></li>
						<li class="parent"><a href="{% url battery_list value='chemistry' selection='LPP' %}">
							Li-Poly</a></li>
						<li class="parent"><a href="{% url battery_list value='chemistry' selection='LIP' %}">
							prismatic</a></li>
					</ul>
				</li> 
			</ul>
			<ul>
				<li class="top-parent"><a href="{% url battery_list value='type' selection='Ni_MH' %}">
						Rechargeable NiMH</a>
					<ul>
						<li class="parent"><a href="{% url battery_list value='chemistry' selection='NMC' %}">
							cylindrical</a></li>
						<li class="parent"><a href="{% url battery_list value='chemistry' selection='NMB' %}">
							button</a></li>
					</ul>
				</li> 
			</ul>
			<ul>
				<li class="top-parent"><a href="{% url battery_list value='type' selection='Primary' %}">
						Primary</a>
					<ul>
						<li class="parent"><a href="{% url battery_list value='chemistry' selection='LiMnO2Button' %}">
							Li-MnO2 coin</a></li>
						<li class="parent"><a href="{% url battery_list value='chemistry' selection='LiMnO2Cylindrical' %}">
							Li-MnO2 cylindrical</a></li>
						<li class="parent"><a href="{% url battery_list value='chemistry' selection='LiSOCl2' %}">
							Li-SOCl2 cylindrical</a></li>
						<li class="parent"><a href="{% url battery_list value='chemistry' selection='Watch_Battery' %}">
							AgO2</a></li>
						<li class="parent"><a href="{% url battery_list value='chemistry' selection='Alkaline' %}">
							Alkaline</a></li>
						<li class="parent"><a href="{% url battery_list value='chemistry' selection='Hearing_Aid' %}">
							Hearing Aid</a></li>
					</ul>
				</li> 
			</ul>
			<ul>
				<li class="top-parent"><a href="{% url battery_list value='type' selection='Discontinued' %}">
						Discontinued</a>
					<ul>
						<li class="parent"><a href="{% url battery_list value='chemistry' selection='abc' %}">
							LFP 25</a></li>
						<li class="parent"><a href="{% url battery_list value='chemistry' selection='abc' %}">
							Poliflex</a></li>
					</ul>
				</li> 
			</ul> 
		</div>
	</div>
	{% if list %}

