{% extends "project_list_base.html" %}

{% block content %}

{% block top %}
	<div id="control_bar">
		<div class="control_bar_section">
			<label>First Name: {{contact.firstname}}</label><br/>
			<label>Last Name: {{contact.lastname}}</label><br/>
			<label>Company: {{contact.company}}</label><br/>
			<label>Job Title: {{contact.title}}</label><br/>
		</div>
		<div class="control_bar_section">
			<label> Cell#: {{contact.cell}}</label><br/>
			<label> Office#: {{contact.landline}}</label><br/>
			<label> Fax#: {{contact.fax}}</label><br/>
			<label>Email: {{contact.email}}</label><br/>
		</div>
		<div class="control_bar_section">
			<label> {{contact.primary_address_line1}}</label><br/>
			<label> {{contact.primary_address_line2}}</label><br/>
			<label>  {{contact.primary_city}}, {{contact.primary_state}} {{contact.primary_post_code}}</label><br/>
		</div>
		<div class="control_bar_section">
			<label> {{contact.secondary_address_line1}}</label><br/>
			<label> {{contact.secondary_address_line2}}</label><br/>
			<label> {{contact.secondary_city}}, {{contact.secondary_state}} {{contact.secondary_post_code}}</label><br/>
		</div>
			<a href="{% url contact_edit contact.id %}">edit</a> 
	</div>
{% endblock %}


{% block bottom %}
<div id="list">
{% if projects %}
<h3>Projects {{contact.firstname}} {{contact.lastname}} is involved in:
<table>
<thead>
	<tr>
		<th>Division</th>
		<th>Region</th>
		<th>Market Segment</th>
		<th>Customer</th>
				<th>Battery</th>
				<th>Potential</th>
			</tr>
		</thead>
		<tbody>
			{% for i in projects %}
			<tr class="link" link="{% url project_edit i.id %}">
				{% if i.division %}<td>{{i.division}}</td>
				{% else %}<td>---</td>
				{% endif %}
				{% if i.region %}
					{% ifequal i.region 'E' %}
					<td>East</td>
					{% endifequal %}
					{% ifequal i.region 'C' %}
					<td>Central</td>
					{% endifequal %}
					{% ifequal i.region 'W' %}
					<td>West</td>
					{% endifequal %}
					{% ifequal i.region 'H' %}
					<td>House</td>
					{% endifequal %}
				{% else %}<td>---</td>
				{% endif %}
				{% if i.market_segment %}<td>{{i.market_segment}}</td>
				{% else %}<td>---</td>
				{% endif %}
				{% if i.customer %}<td>{{i.customer}}</td>
				{% else %}<td>---</td>
				{% endif %}
				{% if i.battery_description %}<td>{{i.battery_description}}</td>
				{% else %}<td>---</td>
					{% endif %}
					{% if i.sales_potential %}<td>{{i.sales_potential}}</td>
					{% else %}<td>---</td>
					{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<div>
		<p> no projects found for this contact </p>
	</div>
	{% endif %}
</div>
{% endblock %}
{% endblock %}

