{% extends "project_list_base.html" %}

{% block content %}
<div id="create_or_edit">
	<form method = "POST" action="">
		<h3> EDIT </h3>
		<div class="formSection"> 
			<label for = "date">Date: {{form.date}}</label><br/>
			<label for="engineer">Engineer:{{form.engineer}}</label><br/>
			<label for="inside_sales">Inside Sales:{{form.inside_sales}}</label><br/>
			<label for = "battery">Battery: {{form.battery}}</label><br/>
		</div>
		<div class="formSection"> 
			<h1>End User</h1>
			<a class="add_contact" link="{% url contact_add_popup "id_non_required" %}" href="#">choose</a>
			<label for="non_required_company">Company:{{end_user_form.non_required_company}}</label><br/>
			<label for="non_required_attention">Attn:{{end_user_form.non_required_attention}}</label><br/>
			<label for="non_required_address_line1">Address Line1:{{end_user_form.non_required_address_line1}}</label><br/>
			<label for="non_required_address_line2">Address Line2:{{end_user_form.non_required_address_line2}}</label><br/>
			<label for="non_required_city">City:{{end_user_form.non_required_city}}</label><br/>
			<label for="non_required_state">State:{{end_user_form.non_required_state}}</label><br/>
			<label for="non_required_post_code">Post Code:{{end_user_form.non_required_post_code}}</label><br/>
			<label for="non_required_phone">Phone#:{{end_user_form.non_required_phone}}</label><br/>
			<label for="non_required_id">{{end_user_form.non_required_id}}</label><br/>
		</div>
		<div class="formSection"> 
			<h1>Ship To</h1>
			<a class="add_contact" link="{% url contact_add_popup "id_required" %}" href="#">choose</a>
			<label for="required_company">Company:{{ship_to_form.required_company}}</label><br/>
			<label for="required_attention">Attn:{{ship_to_form.required_attention}}</label><br/>
			<label for="required_address_line1">Address Line1:{{ship_to_form.required_address_line1}}</label><br/>
			<label for="required_address_line2">Address Line2:{{ship_to_form.required_address_line2}}</label><br/>
			<label for="required_city">City:{{ship_to_form.required_city}}</label><br/>
			<label for="required_state">State:{{ship_to_form.required_state}}</label><br/>
			<label for="required_post_code">Post Code:{{ship_to_form.required_post_code}}</label><br/>
			<label for="required_phone">Phone#:{{ship_to_form.required_phone}}</label><br/>
			<label for="required_id">{{ship_to_form.required_id}}</label><br/>
		</div>
		<input type = "submit" value = "create"/>
	</form>
</div>
{% endblock %}
