{% extends "project_list_base.html" %}

{% block content %}
<div id="create_or_edit">
	<form method = "POST" action="">
		<div class="formSection">
			{{form.date.errors}}
			<label for = "date">Date: {{form.date}}</label><br/>
			{{form.fob.errors}}
			<label for = "fob">fob: {{form.fob}}</label><br/>
			{{form.terms.errors}}
			<label for = "terms">terms: {{form.terms}}</label><br/>
			{{form.valid_through.errors}}
			<label for = "valid_through">valid_through: {{form.valid_through}}</label><br/>
			{{form.account_type.errors}}
			<label for = "account_type">account_type: {{form.account_type}}</label><br/>
			{{form.application.errors}}
			<label for = "application">application: {{form.application}}</label><br/>
			{{form.proposed_quantity.errors}}
			<label for = "proposed_quantity">proposed_quantity: {{form.proposed_quantity}}</label><br/>
			{{form.product_to_be_sold.errors}}
			<label for = "product_to_be_sold">product_to_be_sold: {{form.product_to_be_sold}}</label><br/>
			{{form.rows}}
		</div>
		<div class="formSection"> 
			<h1>Customer</h1>
			<a class="add_contact" link="{% url contact_add_popup "id_required" %}" href="#">choose</a>
			{{customer_form.required_company.errors}}
			<p><label for="required_company">Company:{{customer_form.required_company}}</label></p>
			{{customer_form.required_attention.errors}}
			<p><label for="required_attention">Attn:{{customer_form.required_attention}}</label></p>
			{{customer_form.required_address_line1.errors}}
			<p><label for="required_address_line1">Address Line1:{{customer_form.required_address_line1}}</label></p>
			{{customer_form.required_address_line2.errors}}
			<p><label for="required_address_line2">Address Line2:{{customer_form.required_address_line2}}</label></p>
			{{customer_form.required_city.errors}}
			<p><label for="required_city">City:{{customer_form.required_city}}</label></p>
			{{customer_form.required_state.errors}}
			<p><label for="required_state">State:{{customer_form.required_state}}</label></p>
			{{customer_form.required_post_code.errors}}
			<p><label for="required_post_code">Post Code:{{customer_form.required_post_code}}</label></p>
			{{customer_form.required_phone.errors}}
			<p><label for="required_phone">Phone#:{{customer_form.required_phone}}</label></p>
			<p><label for="required_id">{{customer_form.required_id}}</label></p>
		</div>
		<div class="rows">
			<div>
				<input type="button" id="btnAdd" value="new row"/>
				<input type="button" id="btnDel" value="delete row"/>
			</div>
			<div id="input1" class="clonedInput">
				{{form.battery_description1.errors}}
				Description: {{form.battery_description1}}
				{{form.type_number1.errors}}
				Type#: {{form.type_number1}}
				{{form.vkb_number1.errors}}
				VKB#: {{form.vkb_number1}}
				<br/>
				{{form.quantity1.errors}}
				Quantity: {{form.quantity1}}
				{{form.price1.errors}}
				Price: {{form.price1}}
				{{form.margin1.errors}}
				Margin: {{form.margin1}}
				<hr/>
			</div>
		</div>
		<input type = "submit" value = "create"/>
	</form>
</div>
{% endblock %}
