{% extends "battery_n_pack_list_base.html" %}
{% load pagination_tags %}
{% load sorting_tags %}

{% if list %}
{% block table %}
	<div id="list">
		<table>
			<thead>
				<tr>
					<th colspan=3> {% anchor type_description 'type_description' %} </th> 
					<th> {% anchor type_number 'type_number' %} </th> 
					<th> {% anchor capacity 'Capacity' %} </th> 
					<th> {% anchor voltage 'voltage' %} </th> 
					<th class="tmpOff" > {% anchor max_cont 'max_cont' %} </th> 
					<th class="tmpOff" > {% anchor max_pulse 'max_pulse' %} </th> 
					<th class="tmpOff" > {% anchor max_storage_temp 'max_storage_temp' %} </th> 
					<th class="tmpOff" > {% anchor min_storage_temp 'min_storage_temp' %} </th> 
					<th class="tmpOff" > {% anchor max_discharge_temp 'max_discharge_temp' %} </th> 
					<th class="tmpOff" > {% anchor min_discharge_temp 'min_discharge_temp' %} </th> 
					<th class="tmpOff" > {% anchor max_charge_temp 'max_charge_temp' %} </th> 
					<th class="tmpOff" > {% anchor min_charge_temp 'min_charge_temp' %} </th> 
				</tr>
			</thead>
			<tbody>
				{% autosort list %}
				{% autopaginate list %}
				{% for i in list %}
				<tr class="link" link="{% url pack_list i.type_number %}">
					{% if i.type_description %}
					<td id="type_description"><a href="{% url battery_edit i.id %}">edit</a></td>
					<td id="type_description"><a href="{% url pack_list i.type_number %}">{{i.type_description}}</a></td>
					<td><a href="{% url upload_view i.type_number %}" target="_blank">datasheet</a></td>
					{% else %}<td></td><td id="type_description">---</td><td></td>
					{% endif %}

					{% if i.type_number %}<td id="type_number" >{{i.type_number}}</td>
					{% else %}<td id="type_number" >---</td>
					{% endif %}

					{% if i.capacity %}<td id="capacity" >{{i.capacity}}</td>
					{% else %}<td id="capacity" >---</td>
					{% endif %}

					{% if i.voltage %}<td id="voltage" >{{i.voltage}}</td>
					{% else %}<td id="voltage" >---</td>
					{% endif %}

					{% if i.max_storage_temp %}<td id="max_storage_temp" class="tmpOff">{{i.max_storage_temp}}</td>
					{% else %}<td id="max_storage_temp" class="tmpOff">---</td>
					{% endif %}

					{% if i.min_storage_temp %}<td id="min_storage_temp" class="tmpOff">{{i.min_storage_temp}}</td>
					{% else %}<td id="min_storage_temp" class="tmpOff">---</td>
					{% endif %}

					{% if i.max_discharge_temp %}<td id="max_discharge_temp" class="tmpOff">{{i.max_discharge_temp}}</td>
					{% else %}<td id="max_discharge_temp" class="tmpOff">---</td>
					{% endif %}

					{% if i.min_discharge_temp %}<td id="min_discharge_temp" class="tmpOff">{{i.min_discharge_temp}}</td>
					{% else %}<td id="min_discharge_temp" class="tmpOff">---</td>
					{% endif %}

					{% if i.max_charge_temp %}<td id="max_charge_temp" class="tmpOff">{{i.max_charge_temp}}</td>
					{% else %}<td id="max_charge_temp" class="tmpOff">---</td>
					{% endif %}

					{% if i.min_charge_temp %}<td id="min_charge_temp" class="tmpOff">{{i.min_charge_temp}}</td>
					{% else %}<td id="min_charge_temp" class="tmpOff">---</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% paginate %}
	</div>
{% endblock %}
{% endif %}

