{% extends "project_list_base.html" %}
{% load pagination_tags %}
{% load sorting_tags %}

{% block content %}
	<div id="control_bar">
		<a href="{%url contact_new %}">NEW CONTACT</a>
		<form method = "GET" action="">
			<label for = "search">Search: {{form.search}}</label>
			<input type = "submit" value = "search"/>
		</form>

	</div>
	{% if list %}
	<div id="list">
		<table>
			<tr>
				<th> {% anchor firstname 'First Name' %} </th>
				<th> {% anchor lastname 'Last Name' %} </th>
				<th> {% anchor company Company %} </th>
				<th> {% anchor email Email %} </th>
			</tr>
		{% autosort list %}
		{% autopaginate list 50%}
		{% for i in list %}
		<tr class="link" link="{% url contact_view i.id %}">
				<td><a href="{% url contact_edit i.id %}">edit</a> <a href="{% url contact_view i.id %}">{{i.firstname}}</td>
				<td><a href="{% url contact_view i.id %}">{{i.lastname}}</td>
				<td>{{i.company}}</td>
				<td>{{i.email}}</td>
			</tr>
		{% endfor %}
		</table>
		{% paginate %}
	</div>
	{% else %}
	<p>Search to find a Contact</p>
	{% endif %}
{% endblock %}
